[submodule "raven-cmake"]
	path = raven-cmake
	url = https://github.com/zjes/raven-cmake.git
[submodule "fty-common-logging"]
	path = fty-common-logging
	url = https://github.com/etnKlendathu/fty-common-logging.git
